{{ define "template" }}
	{{ $context := dict "Which" .Kind "Template" "layouts/blog/single.html" }}
  {{ partial "show-template" $context }}
{{ end }}

{{ define "main" }}
<article id="blogpost" itemscope itemtype="http://schema.org/Article">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-md-8">
          <h1 class="text-center" itemprop="name">{{ .Title }}</h1>
          <p class="text-center">
            {{ partial "blogpost/metadata.html" (dict "blogpost" .) }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" itemprop="articleBody">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-8">
        {{ .Content }}
        {{ partial "blogpost/tags.html" . }}
      </div>
    </div>
  </div>
  {{ $related := .Site.RegularPages.Related . | first 4 }}
  {{ if gt (len $related) 0 }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-8">
        <p>
          <h2 class="text-center">Related</h2>
        </p>
        <div class="card-deck">
        {{ range $related }}
          <div class="card border-0">
            <div class="card-body">
              <h4 class="card-title text-center">
                <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a>
              </h4>
              <p class="card-subtitle text-center">
                <time datetime="{{ .Date }}">
                  <small>{{ .Lastmod.Format $.Site.Params.date_format }}</small>
                </time>
              </p>
            </div>
          </div>
        {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ partial "blogpost/comments.html" . }}
</article>
{{ end }}
