{{ if .IsHome }}
  {{ .Scratch.Set "js" "index.js" }}
{{ else if eq .Kind "section" }}
  {{ .Scratch.Set "js" (print .Type "-list.js") }}
{{ else if eq .Kind "page" }}
  {{ .Scratch.Set "js" (print .Type "-single.js") }}
{{ else if eq .Kind "taxonomy"  }}
  {{ .Scratch.Set "js" "taxonomy-list.js" }}
{{ else if eq .Kind "taxonomyTerm" }}
  {{ .Scratch.Set "js" "taxonomy-terms.js" }}
{{ else if eq .Kind "404" }}
  {{ .Scratch.Set "js" "404.js" }}
{{ end }}
{{ $js := print "/js/" (.Scratch.Get "js") }}

<script src="/js/vendor.js"></script>
<script src="{{ $js }}"></script>
