.home .intro-title {
  font-size: 3.1rem;
  font-weight: 500;
}

.home .intro-description {
  font-size: 1.6rem;
}

.home .intro-button {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1F618D;
  background-color: #F2F4F4;
  border: 2px solid #1F618D;
}

section h1 {
  text-align: center;
}

/*#team img {
  max-height: 180px;
}
*/

#team h2 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

#team h3 {
  font-size: 1rem
}
