{{ $members := .Params.team.members }}

<section id="home-team">
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-8 col-lg-6">
        <h1 class="text-center mb-4">{{ .Title }}</h1>
        <ul class="list-unstyled">
        {{ range $members }}
        {{ $avatar := print "/img/team-member/" .avatar }}
          <li class="media mt-2 mb-2" itemprop="member" itemscope itemtype="http://schema.org/Person">
            <img class="img-fluid w-25 rounded-circle align-self-center mr-4" src="{{ $avatar }}" alt="{{ .name }}">
            <!-- <meta itemprop="image" content="{{ $avatar }}"> -->
            <div class="media-body">
              <h2 class="mt-0 mb-0" itemprop="name">{{ .name }}</h2>
              <h3 class="text-muted mt-0 mb-0" itemprop="jobTitle">{{ .title }}</h3>
              <p itemprop="description">{{ .description }}</p>
            </div>
          </li>
        {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
